CURRENCY_MX_API_KEY = your_currency_mx_api_key_here

TIDB_USER="your_user_prefix.root"
TIDB_PASSWORD="your_password_here"
TIDB_HOST="your_tidb_host_address"
TIDB_PORT=4000
TIDB_DATABASE="your_database_name"
